# Base URLs for APIs (Vite requirement to use VITE_ prefix for public env vars)
VITE_USER_SERVICE_URL=http://localhost:5001/api/users
VITE_CATALOG_SERVICE_URL=http://localhost:5002/api/catalog
VITE_WATCHLIST_SERVICE_URL=http://localhost:5003/api/watchlist
VITE_PLAYBACK_SERVICE_URL=http://localhost:5004/api/playback
