# Watchlist Service Environment Variables
PORT=5003
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/
JWT_SECRET=your_super_secret_jwt_key

# Internal Service URLs (For local development)
USER_SERVICE_URL=http://localhost:5001/api/users
CATALOG_SERVICE_URL=http://localhost:5002/api/catalog
